# Lab02: Canadian Census data

To start this lab, you have 3 options to acquire the data.

## Option 1: Using Censusmapper and R
This option works best if you have some prior R experience. You will not have to write any code of your own for this part, although you will have to create a Censusmapper API key if you don't have one already. Use [this link](https://censusmapper.ca/users/sign_in) to do so. There is documentation and a vignette to get started available [here](https://cran.r-project.org/web/packages/cancensus/vignettes/cancensus.html). 

When you have the API key and a familiarity with the package, you can run the script `lab02_download_data.r`

## Working with Census data

In [17]:
librarian::shelf(cancensus, stringr, tidyverse)

In [31]:
# view columns
can_census_data_ct.columns.values

array(['Unnamed:_0', 'GeoUID', 'Type', 'Region_Name', 'Area__sq_km_',
       'Population', 'Dwellings', 'Households', 'CMA_UID', 'PR_UID',
       'CSD_UID', 'CD_UID', 'v_CA21_1:_Population__2021',
       'v_CA21_2:_Population__2016',
       'v_CA21_3:_Population_percentage_change__2016_to_2021',
       'v_CA21_4:_Total_private_dwellings',
       'v_CA21_5:_Private_dwellings_occupied_by_usual_residents',
       'v_CA21_6:_Population_density_per_square_kilometre',
       'v_CA21_7:_Land_area_in_square_kilometres',
       'v_CA21_8:_Total_-_Age', 'v_CA21_9:_Total_-_Age',
       'v_CA21_10:_Total_-_Age', 'v_CA21_11:_0_to_14_years',
       'v_CA21_12:_0_to_14_years', 'v_CA21_13:_0_to_14_years',
       'v_CA21_14:_0_to_4_years', 'v_CA21_15:_0_to_4_years',
       'v_CA21_16:_0_to_4_years', 'v_CA21_17:_Under_1_year',
       'v_CA21_18:_Under_1_year', 'v_CA21_19:_Under_1_year',
       'v_CA21_32:_5_to_9_years', 'v_CA21_33:_5_to_9_years',
       'v_CA21_34:_5_to_9_years', 'v_CA21_50:_10_to_14_years',
       'v_CA21_4237:_Total_-_Private_households_by_tenure',
       'v_CA21_4238:_Owner', 'v_CA21_4239:_Renter',
       'v_CA21_4240:_Dwelling_provided_by_the_local_government__First_Nation_or_Indian_band',
       'v_CA21_4241:_Total_-_Occupied_private_dwellings_by_condominium_status',
       'v_CA21_4242:_Condominium', 'v_CA21_4243:_Not_condominium',
       'v_CA21_4244:_Total_-_Occupied_private_dwellings_by_number_of_bedrooms',
       'v_CA21_4245:_No_bedrooms', 'v_CA21_4246:_1_bedroom',
       'v_CA21_4247:_2_bedrooms', 'v_CA21_4248:_3_bedrooms',
       'v_CA21_4249:_4_or_more_bedrooms',
       'v_CA21_4250:_Total_-_Occupied_private_dwellings_by_number_of_rooms',
       'v_CA21_4251:_1_to_4_rooms', 'v_CA21_4252:_5_rooms',
       'v_CA21_4253:_6_rooms', 'v_CA21_4254:_7_rooms',
       'v_CA21_4255:_8_or_more_rooms',
       'v_CA21_4256:_Average_number_of_rooms_per_dwelling',
       'v_CA21_4257:_Total_-_Private_households_by_number_of_persons_per_room',
       'v_CA21_4258:_One_person_or_fewer_per_room',
       'v_CA21_4259:_More_than_one_person_per_room',
       'v_CA21_4260:_Total_-_Private_households_by_housing_suitability',
       'v_CA21_4261:_Suitable', 'v_CA21_4262:_Not_suitable',
       'v_CA21_4263:_Total_-_Occupied_private_dwellings_by_period_of_construction',
       'v_CA21_4264:_1960_or_before', 'v_CA21_4265:_1961_to_1980',
       'v_CA21_4266:_1981_to_1990', 'v_CA21_4267:_1991_to_2000',
       'v_CA21_4268:_2001_to_2005', 'v_CA21_4269:_2006_to_2010',
       'v_CA21_4270:_2011_to_2015', 'v_CA21_4271:_2016_to_2021__51_',
       'v_CA21_4272:_Total_-_Occupied_private_dwellings_by_dwelling_condition',
       'v_CA21_4273:_Only_regular_maintenance_and_minor_repairs_needed',
       'v_CA21_4274:_Major_repairs_needed',
       'v_CA21_4275:_Total_-_Private_households_by_number_of_household_maintainers',
       'v_CA21_4276:_One-maintainer_household',
       'v_CA21_4277:_Two-maintainer_household',
       'v_CA21_4278:_Three-or-more-maintainer_household',
       'v_CA21_4279:_Total_-_Private_households_by_age_of_primary_household_maintainers',
       'v_CA21_4280:_15_to_24_years', 'v_CA21_4281:_25_to_34_years',
       'v_CA21_4282:_35_to_44_years', 'v_CA21_4283:_45_to_54_years',
       'v_CA21_4284:_55_to_64_years', 'v_CA21_4285:_65_to_74_years',
       'v_CA21_4286:_75_to_84_years', 'v_CA21_4287:_85_years_and_over',
       'v_CA21_4288:_Total_-_Owner_and_tenant_households_with_household_total_income_greater_than_zero__in_non-farm__non-reserve_private_dwellings_by_shelter-cost-to-income_ratio',
       'v_CA21_4289:_Spending_less_than_30%_of_income_on_shelter_costs',
       'v_CA21_4290:_Spending_30%_or_more_of_income_on_shelter_costs',
       'v_CA21_4291:_30%_to_less_than_100%',
       'v_CA21_4292:_Total_-_Occupied_private_dwellings_by_housing_indicators',
       "v_CA21_4293:_Total_-_Households_'spending_30%_or_more_of_income_on_shelter_costs'_or_'not_suitable'_or_'major_repairs_needed'",
       'v_CA21_4294:_Spending_30%_or_more_of_income_on_shelter_costs_only',
       'v_CA21_4295:_Not_suitable_only',
       'v_CA21_4296:_Major_repairs_needed_only',
       "v_CA21_4297:_'Spending_30%_or_more_of_income_on_shelter_costs'_and_'not_suitable'",
       "v_CA21_4298:_'Spending_30%_or_more_of_income_on_shelter_costs'_and_'major_repairs_needed'",
       "v_CA21_4299:_'Not_suitable'_and_'major_repairs_needed'",
       "v_CA21_4300:_'Spending_30%_or_more_of_income_on_shelter_costs'_and_'not_suitable'_and_'major_repairs_needed'",
       'v_CA21_4301:_Acceptable_housing',
       'v_CA21_4302:_Total_-_Owner_and_tenant_households_with_household_total_income_greater_than_zero_and_shelter-cost-to-income_ratio_less_than_100%__in_non-farm__non-reserve_private_dwellings',
       'v_CA21_4303:_In_core_need', 'v_CA21_4304:_Not_in_core_need',
       'v_CA21_4305:_Total_-_Owner_households_in_non-farm__non-reserve_private_dwellings',
       'v_CA21_4306:_%_of_owner_households_with_a_mortgage__58_',
       'v_CA21_4307:_%_of_owner_households_spending_30%_or_more_of_its_income_on_shelter_costs__55_',
       'v_CA21_4308:_%_in_core_housing_need__57_',
       'v_CA21_4309:_Median_monthly_shelter_costs_for_owned_dwellings__$___59_',
       'v_CA21_4310:_Average_monthly_shelter_costs_for_owned_dwellings__$___59_',
       'v_CA21_4311:_Median_value_of_dwellings__$___60_',
       'v_CA21_4312:_Average_value_of_dwellings__$___60_',
       'v_CA21_4313:_Total_-_Tenant_households_in_non-farm__non-reserve_private_dwellings',
       'v_CA21_4314:_%_of_tenant_households_in_subsidized_housing__61_',
       'v_CA21_4315:_%_of_tenant_households_spending_30%_or_more_of_its_income_on_shelter_costs__55_',
       'v_CA21_4316:_%_in_core_housing_need__57_',
       'v_CA21_4317:_Median_monthly_shelter_costs_for_rented_dwellings__$___59_',
       'v_CA21_4318:_Average_monthly_shelter_costs_for_rented_dwellings__$___59_',
       'v_CA21_4319:_Total_-_Households_living_in_a_dwelling_provided_by_the_local_government__First_Nation_or_Indian_band_in_non-farm_private_dwellings',
       'v_CA21_4320:_%_of_households_living_in_a_dwelling_provided_by_the_local_government__First_Nation_or_Indian_band_spending_more_than_30%_on_shelter_costs__55_',
       'v_CA21_4321:_Median_monthly_shelter_costs_for_dwellings_provided_by_local_government__First_Nation_or_Indian_band__$___59_',
       'v_CA21_4322:_Average_monthly_shelter_costs_for_dwellings_provided_by_local_government__First_Nation_or_Indian_band__$___59_',
       'v_CA21_434:_Occupied_private_dwellings_by_structural_type_of_dwelling_data',
       'v_CA21_435:_Single-detached_house',
       'v_CA21_436:_Semi-detached_house', 'v_CA21_437:_Row_house',
       'v_CA21_438:_Apartment_or_flat_in_a_duplex',
       'v_CA21_439:_Apartment_in_a_building_that_has_fewer_than_five_storeys',
       'v_CA21_440:_Apartment_in_a_building_that_has_five_or_more_storeys',
       'v_CA21_441:_Other_single-attached_house',
       'v_CA21_442:_Movable_dwelling', 'v_CA21_51:_10_to_14_years',
       'v_CA21_52:_10_to_14_years', 'v_CA21_68:_15_to_64_years',
       'v_CA21_69:_15_to_64_years', 'v_CA21_70:_15_to_64_years',
       'v_CA21_71:_15_to_19_years', 'v_CA21_72:_15_to_19_years',
       'v_CA21_73:_15_to_19_years', 'v_CA21_89:_20_to_24_years',
       'v_CA21_90:_20_to_24_years', 'v_CA21_91:_20_to_24_years',
       'v_CA21_107:_25_to_29_years', 'v_CA21_108:_25_to_29_years',
       'v_CA21_109:_25_to_29_years', 'v_CA21_125:_30_to_34_years',
       'v_CA21_126:_30_to_34_years', 'v_CA21_127:_30_to_34_years',
       'v_CA21_143:_35_to_39_years', 'v_CA21_144:_35_to_39_years',
       'v_CA21_145:_35_to_39_years', 'v_CA21_161:_40_to_44_years',
       'v_CA21_162:_40_to_44_years', 'v_CA21_163:_40_to_44_years',
       'v_CA21_179:_45_to_49_years', 'v_CA21_180:_45_to_49_years',
       'v_CA21_181:_45_to_49_years', 'v_CA21_197:_50_to_54_years',
       'v_CA21_198:_50_to_54_years', 'v_CA21_199:_50_to_54_years',
       'v_CA21_215:_55_to_59_years', 'v_CA21_216:_55_to_59_years',
       'v_CA21_217:_55_to_59_years', 'v_CA21_233:_60_to_64_years',
       'v_CA21_234:_60_to_64_years', 'v_CA21_235:_60_to_64_years',
       'v_CA21_251:_65_years_and_over', 'v_CA21_252:_65_years_and_over',
       'v_CA21_253:_65_years_and_over', 'v_CA21_254:_65_to_69_years',
       'v_CA21_255:_65_to_69_years', 'v_CA21_256:_65_to_69_years',
       'v_CA21_272:_70_to_74_years', 'v_CA21_273:_70_to_74_years',
       'v_CA21_274:_70_to_74_years', 'v_CA21_290:_75_to_79_years',
       'v_CA21_291:_75_to_79_years', 'v_CA21_292:_75_to_79_years',
       'v_CA21_308:_80_to_84_years', 'v_CA21_309:_80_to_84_years',
       'v_CA21_310:_80_to_84_years', 'v_CA21_326:_85_years_and_over',
       'v_CA21_327:_85_years_and_over', 'v_CA21_328:_85_years_and_over',
       'v_CA21_329:_85_to_89_years', 'v_CA21_330:_85_to_89_years',
       'v_CA21_331:_85_to_89_years', 'v_CA21_347:_90_to_94_years',
       'v_CA21_348:_90_to_94_years', 'v_CA21_349:_90_to_94_years',
       'v_CA21_365:_95_to_99_years', 'v_CA21_366:_95_to_99_years',
       'v_CA21_367:_95_to_99_years', 'v_CA21_383:_100_years_and_over',
       'v_CA21_384:_100_years_and_over', 'v_CA21_385:_100_years_and_over',
       'v_CA21_386:_Average_age', 'v_CA21_387:_Average_age',
       'v_CA21_388:_Average_age', 'v_CA21_389:_Average_age',
       'v_CA21_390:_Average_age', 'v_CA21_391:_Average_age',
       'v_CA21_4872:_Total_-_Visible_minority_for_the_population_in_private_households',
       'v_CA21_4875:_Total_visible_minority_population',
       'v_CA21_4878:_South_Asian', 'v_CA21_4881:_Chinese',
       'v_CA21_4884:_Black', 'v_CA21_4887:_Filipino', 'v_CA21_4890:_Arab',
       'v_CA21_4893:_Latin_American', 'v_CA21_4896:_Southeast_Asian',
       'v_CA21_4899:_West_Asian', 'v_CA21_4902:_Korean',
       'v_CA21_4905:_Japanese', 'v_CA21_4908:_Visible_minority__n.i.e.',
       'v_CA21_4911:_Multiple_visible_minorities',
       'v_CA21_4914:_Not_a_visible_minority',
       'v_CA21_4389:_Total_-_Citizenship_for_the_population_in_private_households',
       'v_CA21_4392:_Canadian_citizens',
       'v_CA21_4395:_Canadian_citizens_aged_under_18',
       'v_CA21_4398:_Canadian_citizens_aged_18_and_over',
       'v_CA21_4401:_Not_Canadian_citizens'], dtype=object)

In [4]:
can_census_data_ct.columns

Index(['Unnamed: 0', 'GeoUID', 'Type', 'Region Name', 'Area (sq km)',
       'Population', 'Dwellings', 'Households', 'CMA_UID', 'PR_UID',
       ...
       'v_CA21_4902: Korean', 'v_CA21_4905: Japanese',
       'v_CA21_4908: Visible minority, n.i.e.',
       'v_CA21_4911: Multiple visible minorities',
       'v_CA21_4914: Not a visible minority',
       'v_CA21_4389: Total - Citizenship for the population in private households',
       'v_CA21_4392: Canadian citizens',
       'v_CA21_4395: Canadian citizens aged under 18',
       'v_CA21_4398: Canadian citizens aged 18 and over',
       'v_CA21_4401: Not Canadian citizens'],
      dtype='object', length=221)

In [20]:
# fix missingness and data types
can_census_data_ct = can_census_data_ct.fillna(0)
can_census_data_ct = can_census_data_ct.replace({'NA': 0})
can_census_data_ct = can_census_data_ct.replace({'': 0})
can_census_data_ct.iloc[:,4:] = can_census_data_ct.iloc[:,4:].apply(pd.to_numeric)
can_census_data_ct["GeoUID"] = can_census_data_ct["GeoUID"].astype(str)

In [21]:
# convert whitespace, parens, commas to underscore in column names
can_census_data_ct.columns = can_census_data_ct.columns.str.replace(" |\\(|\\)|,", "_")

/tmp/ipykernel_1051027/4232919280.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  can_census_data_ct.columns = can_census_data_ct.columns.str.replace(" |\\(|\\)|,", "_")

In [22]:
# handle accidental division by zero
def div_0(n,d):
    try:
        return n/d
    except:
        return 0

## Exercise 1

Using `sort_values(...)`, identify which census tract in Toronto has the largest population.

In [24]:
# solution: it's tract 5350012.01
can_census_data_ct.sort_values(by = "Population", ascending = False)

,Unnamed:_0,GeoUID,Type,Region_Name,Area__sq_km_,Population,Dwellings,Households,CMA_UID,PR_UID,...,v_CA21_4902:_Korean,v_CA21_4905:_Japanese,v_CA21_4908:_Visible_minority__n.i.e.,v_CA21_4911:_Multiple_visible_minorities,v_CA21_4914:_Not_a_visible_minority,v_CA21_4389:_Total_-_Citizenship_for_the_population_in_private_households,v_CA21_4392:_Canadian_citizens,v_CA21_4395:_Canadian_citizens_aged_under_18,v_CA21_4398:_Canadian_citizens_aged_18_and_over,v_CA21_4401:_Not_Canadian_citizens
16,17,5350012.01,CT,12.01,0.4305,13554,8969,7893,35535,0.0,...,240.0,80.0,155.0,410.0,4965.0,13525.0,9265.0,1000.0,8265.0,4260.0
158,159,5350128.02,CT,128.02,0.5187,12611,8109,6896,35535,0.0,...,680.0,120.0,95.0,260.0,6330.0,12140.0,8565.0,1045.0,7520.0,3570.0
9,10,5350008.02,CT,8.02,1.9151,11591,7827,7022,35535,0.0,...,140.0,65.0,125.0,305.0,5690.0,11540.0,9420.0,815.0,8605.0,2120.0
23,24,5350016.0,CT,16.00,0.6317,11144,7596,6845,35535,0.0,...,165.0,75.0,55.0,325.0,6040.0,10845.0,9310.0,720.0,8590.0,1530.0
86,87,5350065.02,CT,65.02,0.1434,11120,5692,5135,35535,0.0,...,80.0,20.0,95.0,300.0,2050.0,11110.0,7925.0,1635.0,6285.0,3190.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,11,5350009.0,CT,9.00,0.1032,520,176,170,35535,0.0,...,0.0,0.0,0.0,20.0,125.0,280.0,230.0,30.0,205.0,55.0
2,3,5350003.0,CT,3.00,0.9455,457,279,265,35535,0.0,...,0.0,0.0,0.0,25.0,245.0,520.0,400.0,50.0,350.0,115.0
544,545,5350376.06,CT,376.06,2.1919,428,252,222,35535,0.0,...,0.0,0.0,0.0,0.0,0.0,275.0,245.0,0.0,245.0,35.0
244,245,5350205.0,CT,205.00,0.7448,144,1,0,35535,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,5350006.0,CT,6.00,0.0129,119,1,1,35535,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Exercise 2

Calculate total population, total number of dwellings, and the total number of renter and owner private households in Toronto.

In [25]:
# total pop
can_census_data_ct["Population"].sum()

2794356

In [26]:
# total dwellings
can_census_data_ct["Dwellings"].sum()

1253238

In [28]:
# total renter private households
can_census_data_ct["v_CA21_4239:_Renter"].sum()

557940.0

In [29]:
# total owner private households
can_census_data_ct["v_CA21_4238:_Owner"].sum()

602835.0

In [30]:
# can also calculate them all at once
can_census_data_ct[["Population", "Dwellings", "v_CA21_4239:_Renter", "v_CA21_4238:_Owner"]].sum()

Population             2794356.0
Dwellings              1253238.0
v_CA21_4239:_Renter     557940.0
v_CA21_4238:_Owner      602835.0
dtype: float64

In [33]:
# compute the proportion of private households that are renters
can_census_data_ct["v_CA21_4239:_Renter"].sum() / can_census_data_ct["v_CA21_4237:_Total_-_Private_households_by_tenure"].sum()

0.4806222919017633

## Exercise 3

### Common functions and calculations

In [86]:
# read in the lemonade data
lemonade = pd.read_csv("lemonade_sales.csv")
lemonade

,Unnamed: 0,Day,AM Sale Count (Lemonades Sold),AM Profit,PM Sale Count (Lemonades Sold),PM Profit
0,0,2019-01-07 00:00:00,4,10.00,3,8.50
1,1,2019-01-08 00:00:00,2,5.25,2,5.00
2,2,2019-01-09 00:00:00,2,6.00,6,14.25
3,3,2019-01-10 00:00:00,5,12.50,7,13.75
4,4,2019-01-11 00:00:00,2,5.00,1,2.50
5,5,2019-01-12 00:00:00,3,7.50,4,9.75
6,6,2019-01-13 00:00:00,5,13.25,4,10.50
7,7,2019-01-14 00:00:00,5,12.25,5,12.25
8,8,2019-01-15 00:00:00,1,2.50,3,6.00
9,9,2019-01-16 00:00:00,2,4.50,3,5.00
10,10,2019-01-17 00:00:00,1,2.50,1,1.00
11,11,2019-01-18 00:00:00,1,3.50,3,8.00
12,12,2019-01-19 00:00:00,4,11.00,3,7.75
13,13,2019-01-20 00:00:00,1,4.00,3,8.50

In [87]:
# data type conversion - looks good
# ok to drop Unnamed: 0 col
# partition the data into two weeks
lemonade["day_datetime"] = pd.to_datetime(lemonade["Day"])
lemonade.drop(columns = "Unnamed: 0", inplace = True)
lemonade['week_num'] = (lemonade['day_datetime'] >= "2019-01-14") + 1
lemonade

,Day,AM Sale Count (Lemonades Sold),AM Profit,PM Sale Count (Lemonades Sold),PM Profit,day_datetime,week_num
0,2019-01-07 00:00:00,4,10.00,3,8.50,2019-01-07,1
1,2019-01-08 00:00:00,2,5.25,2,5.00,2019-01-08,1
2,2019-01-09 00:00:00,2,6.00,6,14.25,2019-01-09,1
3,2019-01-10 00:00:00,5,12.50,7,13.75,2019-01-10,1
4,2019-01-11 00:00:00,2,5.00,1,2.50,2019-01-11,1
5,2019-01-12 00:00:00,3,7.50,4,9.75,2019-01-12,1
6,2019-01-13 00:00:00,5,13.25,4,10.50,2019-01-13,1
7,2019-01-14 00:00:00,5,12.25,5,12.25,2019-01-14,2
8,2019-01-15 00:00:00,1,2.50,3,6.00,2019-01-15,2
9,2019-01-16 00:00:00,2,4.50,3,5.00,2019-01-16,2
10,2019-01-17 00:00:00,1,2.50,1,1.00,2019-01-17,2
11,2019-01-18 00:00:00,1,3.50,3,8.00,2019-01-18,2
12,2019-01-19 00:00:00,4,11.00,3,7.75,2019-01-19,2
13,2019-01-20 00:00:00,1,4.00,3,8.50,2019-01-20,2

In [88]:
# compute: totals (AM & PM)
lemonade.iloc[:,2:].sum()

/tmp/ipykernel_1051027/1558163768.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  lemonade.iloc[:,2:].sum()

AM Profit                          99.75
PM Sale Count (Lemonades Sold)     48.00
PM Profit                         112.75
week_num                           21.00
dtype: float64

In [89]:
# compute: totals (AM + PM) of sales
am_pm_sales = lemonade[lemonade.columns.values[lemonade.columns.str.contains("Sale Count")]].sum()
am_pm_sales.sum()

86

In [90]:
# compute: totals (AM + PM) of profits
am_pm_profit = lemonade[lemonade.columns.values[lemonade.columns.str.contains("Profit")]].sum()
am_pm_profit.sum()

212.5

In [91]:
# pct of total sales made in AM, PM
am_pm_sales / am_pm_sales.sum()

AM Sale Count (Lemonades Sold)    0.44186
PM Sale Count (Lemonades Sold)    0.55814
dtype: float64

In [92]:
# pct of total profit made in AM, PM
am_pm_profit / am_pm_profit.sum()

AM Profit    0.469412
PM Profit    0.530588
dtype: float64

In [93]:
# the averages of week 1, week 2, am, pm for sales, profits
lemonade.groupby('week_num').mean()

/tmp/ipykernel_1051027/483247211.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  lemonade.groupby('week_num').mean()

,AM Sale Count (Lemonades Sold),AM Profit,PM Sale Count (Lemonades Sold),PM Profit
week_num,,,,
1,3.285714,8.50,3.857143,9.178571
2,2.142857,5.75,3.000000,6.928571

In [102]:
# compute daily totals for sums and profits
lemonade['total_sales'] = lemonade[lemonade.columns.values[lemonade.columns.str.contains("Sale Count")]].sum(axis = 1)
lemonade['total_profit'] = lemonade[lemonade.columns.values[lemonade.columns.str.contains("Profit")]].sum(axis = 1)
lemonade

,Day,AM Sale Count (Lemonades Sold),AM Profit,PM Sale Count (Lemonades Sold),PM Profit,day_datetime,week_num,total_sales,total_profit
0,2019-01-07 00:00:00,4,10.00,3,8.50,2019-01-07,1,7,18.50
1,2019-01-08 00:00:00,2,5.25,2,5.00,2019-01-08,1,4,10.25
2,2019-01-09 00:00:00,2,6.00,6,14.25,2019-01-09,1,8,20.25
3,2019-01-10 00:00:00,5,12.50,7,13.75,2019-01-10,1,12,26.25
4,2019-01-11 00:00:00,2,5.00,1,2.50,2019-01-11,1,3,7.50
5,2019-01-12 00:00:00,3,7.50,4,9.75,2019-01-12,1,7,17.25
6,2019-01-13 00:00:00,5,13.25,4,10.50,2019-01-13,1,9,23.75
7,2019-01-14 00:00:00,5,12.25,5,12.25,2019-01-14,2,10,24.50
8,2019-01-15 00:00:00,1,2.50,3,6.00,2019-01-15,2,4,8.50
9,2019-01-16 00:00:00,2,4.50,3,5.00,2019-01-16,2,5,9.50
10,2019-01-17 00:00:00,1,2.50,1,1.00,2019-01-17,2,2,3.50
11,2019-01-18 00:00:00,1,3.50,3,8.00,2019-01-18,2,4,11.50
12,2019-01-19 00:00:00,4,11.00,3,7.75,2019-01-19,2,7,18.75
13,2019-01-20 00:00:00,1,4.00,3,8.50,2019-01-20,2,4,12.50

In [106]:
# the daily average sales
lemonade['total_sales'].mean()

6.142857142857143

In [107]:
# the daily average profit
lemonade['total_profit'].mean()

15.178571428571429

In [108]:
# the maximum sales in a day (AM + PM)
lemonade['total_sales'].max()

12

In [109]:
# the maximum profit in a day (AM + PM)
lemonade['total_profit'].max()

26.25

In [110]:
# the minimum sales in a day (AM + PM)
lemonade['total_sales'].min()

2

In [111]:
# the minimum profit in a day (AM + PM)
lemonade['total_profit'].min()

3.5

In [113]:
# command to compute these summary statistics and more all at once
lemonade[['total_sales', 'total_profit']].describe()

       total_sales  total_profit
count    14.000000     14.000000
mean      6.142857     15.178571
std       2.905092      7.092404
min       2.000000      3.500000
25%       4.000000      9.687500
50%       6.000000     14.875000
75%       7.750000     19.875000
max      12.000000     26.250000